<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
  	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>{{meta_title}}</title>
	  <meta name="description" content="{{meta_description}}">
    <meta name="theme-color" content="#1E1E1E">
	  <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    {{#is "post"}}
    <script>
      $(document).ready(function() {
        $('img').each(function() {
          var source = $(this).attr("src");
          var len = source.length - 4;
          if(source.substring(len, source.length) === ".jpg" && source.search("thumbnails") === -1) {
            var short = source.substring(0, len);
            $(this).attr("srcset", short + "-512.jpg 512w, " + short + "-1024.jpg 1024w, " + short + ".jpg 2048w");
            $(this).attr("sizes", "(min-width: 32em) 63vw, 90vw");
          };
          if(source.substring(len, source.length) === ".jpg" && source.search("thumbnails") !== -1) {
            var short = source.substring(0, len);
            $(this).attr("srcset", short + "-256.jpg 256w, " + short + ".jpg 512w, " + short + "-1024.jpg 1024w");
            $(this).attr("sizes", "(min-width: 68em) 22vw, (min-width: 50em) 29vw, (min-width: 32em) 44vw, 90vw");
          };
        });
      });
    </script>
    {{/is}}

    {{#is "index"}}
    {{^is "paged"}}
    <script>
      var hash = window.location.hash;
      if (hash != "") {
        var hashInt = parseInt(hash.substring(1, hash.length)) + 1;
        var page = 2;
        var url_blog = "{{@blog.url}}";
        var max_pages = parseInt('{{pagination.pages}}');
        if (Number.isInteger(hashInt)) {
          for ( var i = page; i < hashInt && i <= max_pages; i++ ) {
            $.get((url_blog + '/page/' + i), function(content) {
              var posts = $(content).find('.post');
              $('.rig').append(posts);
              posts.addClass("page" + i);
            });
            page = i;
          }
          if(page > max_pages){
            $('.pagination').css({'display': 'none'});
          }
        }
      }
      </script>
      {{/is}}{{/is}}
      <link href="{{asset "css/screen.css"}}" type="text/css" rel="stylesheet" />
	    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel='stylesheet' type='text/css'>
	    <link href="http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic" rel='stylesheet' type='text/css'>
	    <link rel="icon" type="image/png" href="{{asset "/images/favicon_64x64.png"}}" sizes="64x64">
	    <link rel="icon" type="image/png" href="{{asset "/images/favicon_32x32.png"}}" sizes="32x32">

	    {{ghost_head}}

</head>

  <body class="{{body_class}}">

  	{{{body}}}

  	<footer>
  		<small>
  			&copy; {{date format="YYYY"}} {{@blog.title}} on <a href="https://ghost.org/">Ghost</a> with <a href="https://github.com/andrew-craig/capa/">Capa</a>.
  		</small>
  	</footer>

  	{{ghost_foot}}

	<div id="mobile-indicator"></div>

	</body>
</html>
