{{!< default}}

	<header>

    <!-- Top Bar -->
		{{^is "paged"}}
			<nav class="main-navigation fade-header"
				{{#if @blog.cover}}
					style="background-color: linear-gradient(rgba(30, 30, 30, 0),rgba(30, 30, 30, 0));background-image: url({{@blog.cover}});"
				{{else}}
					style="background-color: linear-gradient(rgba(30, 30, 30, 0),rgba(30, 30, 30, 0)); background-image: url({{asset "images/header-background.jpg"}});"
				{{/if}}
			>
		{{else}}
			<nav class="main-navigation fixed-header">
		{{/is}}

			<div class="hamburger">
				<img src="{{asset "images/hamburger.svg"}}">
			</div>
			{{^is "paged"}}  <h1 class="title">  		{{else}}	<h1 class="title fixed-title">	{{/is}}
				{{@blog.title}}
			</h1>

		</nav>

		{{^is "paged"}}		<div class="title-spacing"></div>{{else}}	<div class="title-spacing-paged">	{{/is}}


	</header>


	{{> sidebar}}

    <section>


		<ul class="rig">
			{{#foreach posts}}
				<li class="post">
					<a href="{{url}}">
					<div class="img-cont">
					  <img src="{{image}}" />
					  <div class="rig-back">
					  <h3>{{title}}</h3>
				      </div>
					</div>
				    </a>
				</li>
			{{/foreach}}
		</ul>

		{{pagination}}

    </section>
    <script>
    var max_pages = parseInt('{{pagination.pages}}');
    </script>
	<script src="{{asset "js/index.js"}}"></script>
