{{!< default}}
{{#post}}
	<header>
		<nav class="main-navigation fixed-header">
		    <h1 class="title fixed-title post-title">
				<a class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
				<p class="title-arrow">    &gt;   </p>
				<p class="post-title">{{title}}</p>
			</h1>
		</nav>
	</header>

	<section class="{{post_class}}">


		<script>
			$(document).ready(function() {

				$('img').each(function() {
					$(this).after("<div style='clear:both;'><!--clear--></div> ");
					if($(this).attr("caption")) {
		        		$(this).after( "<p class='img-description' >"+ $(this).attr("caption") +"</p>");
					}
					if($(this).attr("alt")) {
						$(this).after( "<p class='img-title' >" + $(this).attr("alt") + "</p>" );
					}
				});
			});
		</script>

		{{content}}

		{{#if author.twitter}}
		<script>
		var twitterUser = "{{author.twitter}}";
		var URL = "{{url absolute="true"}}";
		console.log(twitterUser);
		console.log(twitterUser.substring(1,twitterUser.length));
		document.write("<a href='https://twitter.com/intent/tweet?&url=" + URL + "&via=" + twitterUser.substring(1,twitterUser.length) + "'>");
		</script>
		{{else}}
		<a href='https://twitter.com/intent/tweet?&url={{url absolute="true"}}'>
		{{/if}}
	    <img class="twitter-button" src="../assets/images/twitter.svg">
		</a>


	</section>

{{/post}}
