{{!< default}}

	<header>
		
		<nav class="main-navigation fixed-header">
		    <h1 class="title fixed-title post-title">
				<a class="blog-title" href="{{@blog.url}}">{{@blog.title}}</a>
				<p class="post-title">    &gt;   {{#tag}}{{name}}{{/tag}}</p>
			</h1>
		</nav>

	</header>

    <section class="post-section">

		<ul class="rig">
			{{#foreach posts}}
				<li class="post">
					<a href="{{url}}">
					<div class="img-cont">
					  <img src="{{image}}" />
					  <div class="rig-back">
					  <h3>{{title}}</h3>
				      </div>
					</div>
				    </a>
				</li>
			{{/foreach}}
		</ul>
		
		{{pagination}}
	
    </section>
    <script>
    var max_pages = parseInt('{{pagination.pages}}');
    </script>
	<script src="{{asset "js/loadMore.js"}}"></script>
